# Exclude code
*.so
*.mod

# Exclude data
*.nc
*.out

# Exclude images and video
*.svg
*.eps
*.png
*.mp4

# Exclude misc tex
*.log
*.aux

# Exclude zips for storage
*.zip

# Exclude custom python env
.env/
activate_py_env
